.container{
    background: url('./contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}
.jumbotron{
    background: grey;
    
}
 
a{
    color: #191919;
}